# Exercise 1

x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [1]:
x = 3
x= float(x)
print(x) 
print(type(x))

y = 4.5 
y = int(y)
print(y) 
print(type(y))

z = "8"
z = int(z)
print(z) 
print(type(z))

a = "12"
a = float(a)
print(a) 
print(type(a))

b = "12"
b = int(b)
print(b) 
print(type(b))

3.0
<class 'float'>
4
<class 'int'>
8
<class 'int'>
12.0
<class 'float'>
12
<class 'int'>

# Excersice 2

Üç değişken belirleyelim, bu değşkenler kişi adı olsun. Değişkenlere kişilerin yaşlarını atayalım. (ÖRN: ayse=22)

Belirlediğimiz üç değişkeni bir biriyle karşılaştırma operatörleri ile karşılatıralım. (ayse>mehmet)

Bu karşılaştırmalara mantıksal operatörleride ekleyelim.

In [5]:
ayse=22
fatma=20
ali=18
print(bool(ayse<fatma))
print(bool(ayse<ali))
print(bool(ali<fatma))

False
False
True

# Excercise 3

Kullanıcıdan iki değer girmesini isteyin. Girilen değerlerin toplama,çıkarma,çarpma,bölme sonuçlarını yazdıralım.

In [11]:
x=int(input("1. sayıyı giriniz"))
y=int(input("2. sayıyı giriniz"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)

5
-1
6
0.6666666666666666

# Excercise 4

Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini isteyelim ve cevaplarını yazdıralım.

In [12]:
isim=input("isminizi giriniz")
yas=input("yaşınızı giriniz")
sehir=input("nerede yaşıyorsunuz?")
meslek=input("mesleğiniz")
print(isim, yas, sehir, meslek)

a d f g

# Excersice 5 

"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlayalım.
- İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçelim.
- İfadeyi hepsini büyük harf olacak hale çevirelim.  ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
- İfadeyi hepsini büyük harf olacak hale çevirelim.("hi-kod veri bilimi atölyesi")

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçelim. ("02468", "13579")

In [13]:
variable="Hi-Kod Veri Bilimi Atölyesi"
variable.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [14]:
variable.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [15]:
variable.lower

In [18]:
x="0123456789"
print(x[0::2])
print(x[1::2])

02468
13579